<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nfc_proyecto">

    <!-- Permisos NFC -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- Si quieres que la app solo se instale en dispositivos con NFC deja android:required="true".
         Si quieres que se pueda instalar en dispositivos sin NFC (pero con la funcionalidad deshabilitada),
         pon android:required="false". -->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:label="NEXID"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Habilitar lectura NFC cuando se detecte una etiqueta (TECH_DISCOVERED) -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Puedes añadir NDEF_DISCOVERED si quieres recibir intents para tags con NDEF específicos -->

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>


            <!-- Este meta-data apunta al XML con la lista de tecnologías (tech list) que deseas manejar -->
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Queries (para Android 11+ si quieres buscar intents/external apps) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
